body {
    width: 100%;
    margin: 0;
    background: rgb(241, 241, 241);
    overflow-x: hidden;
}


/* Login box */

.login {
    width: 100%;
    height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
}

.login>.intro {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login>.form {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login>.form>form {
    width: 50%;
    height: 60vh;
    background: #fff;
    flex-wrap: wrap;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.login>.form>form>input {
    width: 100%;
    height: 8vh;
    margin-bottom: 20px;
    font-size: 22px;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.300);
    outline: none;
}

.login>.form>form>#btn {
    width: 100%;
    height: 7vh;
    font-size: 23px;
    background: #02c01d;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.login>.form>form>#btn2 {
    width: 55%;
    height: 7vh;
    margin-bottom: 20px;
    font-size: 23px;
    background: #ff1e00;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}


/* Header */

.header {
    width: 60%;
    height: 10vh;
    margin-left: 20%;
    margin-right: 20%;
    background: #ffffff;
    display: flex;
    align-items: center;
}

.header>.img {
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 92%;
}

.header>.img>img {
    width: 55px;
}


/* Chating */

.smallBody {
    width: 60%;
    height: 75vh;
    margin-left: 20%;
    margin-right: 20%;
    background: rgb(219, 219, 219);
    padding: 20px;
    box-sizing: border-box;
}


/* User A */

.smallBody>.userA {
    float: right;
    width: 51%;
    /* height: auto; */
    box-sizing: border-box;
}

.smallBody>.userA>p {
    margin: 0;
    width: auto;
    height: auto;
    background: #fff;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 20px 20px 0 20px;
}


/* User B */

.smallBody>.userB {
    float: left;
    width: 51%;
    /* height: auto; */
    box-sizing: border-box;
}

.smallBody>.userB>p {
    margin: 0;
    width: auto;
    height: auto;
    background: #02c01d;
    ;
    color: #fff;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 20px 20px 20px 0px;
}


/* Messaging */


/* .messaging {
    display: none;
} */

.chat {
    width: 60%;
    height: 15vh;
    margin-left: 20%;
    margin-right: 20%;
    background: rgb(219, 219, 219);
    box-sizing: border-box;
    padding: 15px;
}

.chat>.word {
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}